/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --dark-color-lighten: #f2f5ff;
  --red-card: #a62121;
  --blue-card: #4bb7e6;
  --btn: #141414;
  --btn-hover: #3a3a3a;
  --text: #fbf7f7;
}

body{
    margin: 20px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    margin:  50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:70vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
}

.card-1{
background-color: var(--red-card);
}

.card-2{
background-color: var(--blue-card);
}

.container img{
    max-width: 95%;
    height: 90%;
    user-select: none;
    transform: translate(0, -1.5rem);
    transition: transform 1000ms ease-in-out;
    
    
}
.container img:hover{
    transform: translate(0, -5.5rem) rotate(-10deg);;
    
}

.product-info{
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}
.product-info p{
    margin-top: -10px ;
    font-weight: 500;

}

.product-price{
color: var(--text);
}

.btn button{
    height: 40px;
    width: 120px;
    border: none;
    outline: none;
    font-size: large;
    color: #1a1a1a;
    opacity: 0.9;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.171));
    border-radius: 5px;
    transition: 300ms ease-in-out;
}
.btn button:hover{
    opacity: 1;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    body {
      height: auto;
    }
    .container {
      padding: 2rem 0;
      width: 100%;
      flex-direction: column;
      gap: 3rem;
    }
  }
